.mydevicecard-card-wrapper {
    flex: 1;
    border: 0px solid var(--color-orange);
    border-radius: 10px;
    background-color: var(--color-black-dark);
    display: inline;
    max-width: 200px;
    min-height: 200px;
    box-shadow: 0px 0px 20px -5px var(--color-orange);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mydevicecard-card-wrapper:active {
    box-shadow: 0px 0px 15px -5px var(--color-orange);
}

.mydevicecard-card-wrapper:hover {
    cursor: pointer;
}

.mydevicecard-card-wrapper p {
    color: white;
}