.getConfig-btn {
    display: inline;
    background-color: var(--color-orange);
    color: black;
    font-weight: 700;
    cursor: pointer;
    padding: .5rem;
    margin-top: 1rem;
}

.getConfig-btn:hover {
    color: var(--color-grey-light);
    background-color: var(--color-black-med);
}