@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black-med);
}

code {
  font-family: 'Roboto','Courier New',
    monospace;
}

:root {
  --color-black-dark: #343434;
  --color-black-med: #454545;
  --color-grey-light: #CDCDCD;
  --color-orange: #ED6F09;
  --text-primary: 'Open Sans', 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --text-header: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.page-wrapper {
  min-height: 90vh;
  margin: auto;
  max-width: 1100px;
  padding: 1rem;

  color: var(--color-grey-light);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--color-orange)
}

a:hover {
  color: white;
  cursor: pointer;
}

.hidden-content {
  visibility: hidden;
}